# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]

# =====================================
# Virtual environment
# =====================================

.venv/

# =====================================
# PyCharm
# =====================================

.idea/

# =====================================
# Logs
# =====================================

logs/

# =====================================
# Fichiers générés
# =====================================

output/

# =====================================
# Excel temporaires
# =====================================

~$*.xlsx